
@{
    ViewBag.Title = "DeletedSuccessfully";
}

<div class="container">
    <div class="row" style="margin-top:50px;">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel" style="color:#dddada; background-color:rgba(41, 35, 82, 0.93);">
                <div class="panel-body" style="text-align:center;">
                    <h1><span class="glyphicon glyphicon-ok-circle" style="color:#00c1ff;"></span></h1>
                    <p class="lead">Ürün Başarıyla Silindi!</p>
                    <a class="btn btn-info" href="@Url.Action("EditProduct","AdminProduct")">Devam Et</a>
                </div>
            </div>
        </div>
    </div>
</div>