body {
}

hr {
    border-color: #8a89ea;
}


label {
    color: #dddada;
}

ul {
    border-color: #8a89ea;
}

.gallery img {
    filter: grayscale(100);
}

.gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}